An√°lisis exploratorio de los datos: (Exploratory Data Analysis-EDA)

In [1]:
#importamos las librerias
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("definido_movies_dataset copy.csv")

C:\Users\luisr\AppData\Local\Temp\ipykernel_10536\2603322724.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("definido_movies_dataset copy.csv")

Analizamos la data

In [7]:
data.shape

(45466, 20)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             45466 non-null  int64
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45463 non-null  float64
 3   genres                 45466 non-null  object
 4   id                     45466 non-null  object
 5   original_language      45455 non-null  object
 6   overview               44512 non-null  object
 7   popularity             45461 non-null  object
 8   production_companies   45463 non-null  object
 9   production_countries   45463 non-null  object
 10  release_date           45376 non-null  object
 11  revenue                45460 non-null  float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       45460 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  release_year           45376 non-null  float64
 19  return                 45463 non-null  float64
dtypes: float64(6), int64(1), object(13)
memory usage: 6.9+ MB

In [9]:
#visualizar outlier 
data.describe()

,Unnamed: 0,budget,revenue,runtime,vote_average,release_year,return
count,45466.000000,4.546300e+04,4.546000e+04,45203.000000,45460.000000,45376.000000,4.546300e+04
mean,22732.500000,4.224579e+06,1.120935e+07,94.128199,5.618207,1991.881193,6.587797e+02
std,13125.048006,1.742413e+07,6.433225e+07,38.407810,1.924216,24.055360,7.462180e+04
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,1874.000000,0.000000e+00
25%,11366.250000,0.000000e+00,0.000000e+00,85.000000,5.000000,1978.000000,0.000000e+00
50%,22732.500000,0.000000e+00,0.000000e+00,95.000000,6.000000,2001.000000,0.000000e+00
75%,34098.750000,0.000000e+00,0.000000e+00,107.000000,6.800000,2010.000000,0.000000e+00
max,45465.000000,3.800000e+08,2.787965e+09,1256.000000,10.000000,2020.000000,1.239638e+07

In [12]:
#graficamos para ver los valores faltantes
mascara = data.isna().any(axis=0)

data.isna().mean()[mascara].sort_values().plot()

Unnamed: 0                   0
belongs_to_collection    40972
budget                       3
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                90
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
release_year                90
return                       3
dtype: int64